body {
min-height: 100vh;
 display: flex;
 flex-direction: column;
 }

header{ 
    min-height: 8vh;
}

main{
 flex-grow: 1;
}

footer{
    min-height: 8vh;
 }

img{
    max-width: 100%;
    max-height: 50vh;
}

.btn-mine{
    max-height: 6vh
}

.img-mine{
    max-height: 4vh;
}

.btn-upgrade{
    width:80%
}