body {
min-height: 100vh;
 display: flex;
 flex-direction: column;
 }

header{ 
    min-height: 8vh;
}

main{
 flex-grow: 1;
}

footer{
    min-height: 8vh;
 }

img{
    max-height: 30vh;
    max-width: 100%;
}

.btn-mine{
    max-height: 6vh
}

.img-mine{
    max-height: 4vh;
}

.btn-upgrade{
    width:80%
}

/* NOTE not really what I wanted, but it works. The idea is for it to take up all available vertical space */
#stats-display{
    height:42.7%
}